
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-image">
					<img src="./img/main/logo.png" alt="">
				</span>
				<span class="logo-title-wrap">
					<span class="logo-title">iz-derewa</span>
					<span class="logo-subtitle">мебель на заказ</span>
				</span>
			</a>
		</div>
		<div class="phone-wrap">
			<a href="tel:84953456754" class="link-phone">+7 495 345 67 54</a>
		</div>
		<div class="menu-wrap">
			<ul class="menu">
				<li><a href="">о компании</a></li>
				<li><a href="">мебель на заказ</a></li>
				<li><a href="">дизайн интерьера</a></li>
				<li><a href="">галерея</a></li>
				<li><a href="">контакты</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- /footer -->