
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-image">
					<img src="./img/main/logo.png" alt="">
				</span>
				<span class="logo-title-wrap">
					<span class="logo-title">iz-derewa</span>
					<span class="logo-subtitle">мебель на заказ</span>
				</span>
			</a>
		</div>
		<div class="phone-wrap">
			<a href="tel:84953456754" class="link-phone">+7 495 345 67 54</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"><span></span></a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-close"></a>
				<div class="menu-outer-wrap">
					<ul class="menu">
						<li><a href="" class="btn-menu">о компании</a></li>
						<li><a href="" class="btn-menu">мебель на заказ</a></li>
						<li>
							<a href="" class="btn-menu">дизайн интерьера</a>
							<ul class="menu-inner">
								<li><a href="" class="btn-menu-inner">выпадающий пункт</a></li>
								<li><a href="" class="btn-menu-inner">выпадающий пункт на две строки</a></li>
								<li><a href="" class="btn-menu-inner">выпадающий пункт</a></li>
							</ul>
						</li>
						<li><a href="" class="btn-menu">галерея</a></li>
						<li><a href="" class="btn-menu">контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->